{% extends "base.html" %} {% block title %}Create Event{% endblock %} {% block content
%}
<h1 align="center">Cal Poly Pomona Event Finder</h1>

<!--
<form method="POST">
  <div align="right">
    <button 
    type="submit" 
    style="margin:10px" 
    class="btn btn-primary">Create Event</button>
  </div>
</form>
-->

<!--
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
-->

<div class="form-group">
  <input
    type="search"
    class="form-control"
    id="search"
    name="search"
    placeholder="Search event"
  />
</div>

<form method="POST">
  <div align="center">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>

<br/>

<h2 align="center">Recommended Events</h2>
<div align="center">
<ul class="list-group list-group-flush" id="events">
  {% for event in eventList %}
  <li class="list-group-item">
    {{ event.name }}
    <button type="button" class="btn btn-secondary" onClick="sendEvent('{{ event.id }}')">View</button>
    <!--<a href="/view-event"><button>View 2</button></a>-->
  </li>
  {% endfor %}
</ul>
</div>
{% endblock %}
