{% extends "base.html" %} {% block title %}My Events{% endblock %} 

{% block content %}
<h1 align="center">My Events</h1>
<div class="container">
    {% if eventList %}
        {% for event in eventList %}
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ event.name }}</h5>
                <p class="card-text">
                    Date: {{ event.dateTime.strftime('%Y-%m-%d') }}<br>
                    Time: {{ event.dateTime.strftime('%H:%M:%S') }}<br>
                    Location: {{ event.location }}<br>
                    Category: {{ event.category }}
                </p>
                <button type="button" class="btn btn-primary" 
                    onClick="sendEvent('{{ event.id }}')">View</button>
                <button type="button" class="btn btn-danger" 
                    onClick="deleteEvent('{{ event.id }}')">Delete</button>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p align="center">You haven't created any events yet!</p>
    {% endif %}
</div>
{% endblock %}